.timeline li .type {
  width: 40px;
  height: 40px;
  font-size: 12px;
  line-height: 40px;
  position: absolute;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  left: 13px;
  top: 0;
  font-style: normal;
  font-weight: bold;
}

.timeline li .type a {
  color: #fff;
}

.timeline li .timeline-item .timeline-header {
  color: #0073B7;
  font-weight: bold;
}

.text-now-status {
  padding: 10px 15px;
}

.multiple-images-uploader {
  list-style: none;
  padding: 0;
  margin: 0;
}

.image-uploader-bar {
  padding: 0;
  margin: 0;
  clear: both;
}

.multiple-images-uploader li {
  position: relative;
  width: 150px;
  float: left;
  padding-left: 20px;
}

.multiple-images-uploader li .multiple-images-uploader-delete-btn {
  position: absolute;
  right: 0;
  top: 0;
}
